@page
@model FCAssist.Pages.Investigations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Investigation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Investigation.Id" />
            <div class="form-group">
                <label asp-for="Investigation.CaseId" class="control-label"></label>
                <input asp-for="Investigation.CaseId" class="form-control" />
                <span asp-validation-for="Investigation.CaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Investigation.OperationName" class="control-label"></label>
                <input asp-for="Investigation.OperationName" class="form-control" />
                <span asp-validation-for="Investigation.OperationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Investigation.Description" class="control-label"></label>
                <input asp-for="Investigation.Description" class="form-control" />
                <span asp-validation-for="Investigation.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Investigation.FileCoordinatorId" class="control-label"></label>
                <input asp-for="Investigation.FileCoordinatorId" class="form-control" />
                <span asp-validation-for="Investigation.FileCoordinatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Investigation.PROSCreationDate" class="control-label"></label>
                <input asp-for="Investigation.PROSCreationDate" class="form-control" />
                <span asp-validation-for="Investigation.PROSCreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
